.Rproj.user
.Rhistory
.RData
.Ruserdata
/inputs/*

/outputs/*
!/outputs/graphs/
/outputs/graphs/*
!outputs/graphs/.gitkeep

/R/*
!/R/cleaning_and_prelim_analysis/
!R/ongoing/*
/R/extras*


/scrap/*
*.html